:root {
	--primary-color: rgba(26, 153, 246);
	--secondary-color: rgba(136, 104, 233);
	--dark-gray: rgb(86, 109, 133);
	--light-gray: #eff3f6;
	--selected-transcript-box: rgba(26, 153, 246, 0.05);
	--selected-transcript-text: rgba(26, 153, 246, 0.25);
	--font-size: 13px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
