html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/src/assets/fonts/ProximaNova\ Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/src/assets/fonts/Proxima\ Nova\ Bold.otf') format('opentype');
	font-weight: bold;
}

body {
	font-family: 'Proxima Nova', -apple-system, 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
	font-size: 13px;
}
